<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <a-side id="a-side">
        <img src="" alt="" class="p-img">
        <p>Akmal Hama</p>
        <contact class="contact">
            <a href=""><i class="gg-facebook"></i></a>
            <a href=""><i class="gg-instagram"></i></a>
            <a href="" class="x-twitter">X</a>
            <!-- <a href=""></a> -->
        </contact>
        <div class="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestias ad minima mollitia! Dolorem deleniti atque debitis beatae odio necessitatibus.</div>
    </a-side>
    <main id="main">
        <nav id="nav">
            <a href="/profile/test" class="share"><i class="gg-share"></i><p>Share</p></a>
            <div class="n-group">

            </div>
        </nav>
        <container id="container">

        </container>
    </main>
</body>
</html>